.contenedor{
    text-align: center;
    }

.solido{
    margin: 20px;
    float: left;
    width: 150px;
    height: 40px;
    border-color: black;
    border-width: 5px;
    border-style: solid;}
.discontinuo{
    margin: 20px;
    float: left;
    width: 150px;
    height: 40px;
    border-color: black;
    border-width: 5px;
    border-style: dashed;
}
.punteado{
    margin: 20px;
    float: left;
    width: 150px;
    height: 40px;
    border-color: black;
    border-width: 5px;
    border-style: dotted;
}
.doble{
    margin: 20px;
    float: left;
    width: 150px;
    height: 40px;
    border-color: black;
    border-width: 5px;
    border-style: double;
}