body {
    background-color: red;
    color: white;
}
hr{
    width: 1500px;
}
div{
    
    border-radius: 15px;
    width: 1450px;
    height: 150px;
    background-color: darkgrey;
}
.titulo{
    color: chartreuse;
}