body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}


h1, h2 {
    margin: 0.5em 0;
}

hr {
    margin: 0.5em auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 1400px;
    margin: 20px auto;
}

.grid-item {
    background-color: #4CAF50;
    color: white;
    padding: 50px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
